<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>
	<script>
		function showAlbumPhotos(divName) {
			var div = document.getElementById(divName).style.display = 'block';
		}
	</script>
	
	<% if (user.id !== undefined){%>
		<div align="right">
			<h4>Bem Vindo, <%=user.name%></h4><a href="/logout">Sair</a>
		</div>
	<% }%>
	<main>
		<h2>Albums</h2>
		<div class="jumbotron">
			<% albums.forEach(function(album) { %>
				<a onclick="showAlbumPhotos('<%=album.name%>');"><h2><%=album.name%></h2></a>
				<div id="<%=album.name%>" style="display:none;">
					<% album.photos.forEach(function(photo) { %>
					<img src="<%=photo.uri%>" width="110" height="90">
					<p><%=photo.description%></p>
					<p><%=photo.date%></p>
					<% }); %>
				</div>
			<% }); %>

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>